# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
.virtualenv
*.pyc
.DS_Store
._.DS_Store
.idea
*.pyc
*.swp
*.log
.dev.settings.cfg
/build
/dist
/config/setting.yml
.cache


# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

